# TOPIC: STRING BASED ASSIGNMENT PROBLEM

In [4]:
#1 Program to reverse a string
_str_=input('enter a string:')
print(_str_[::-1])

enter a string:hello
olleh

In [5]:
#2 to check wether the given string is pallendrome
str_1=input("enter the string:")
rev=str_1[::-1] #reversing the string
if(str_1==rev):#checking wether str==rev 
    print("yes {} is a pallendrome".format(str_1))
else:
    print("no {} is not a pallendrome".format(str_1))

enter the string:madam
yes madam is a pallendrome

In [6]:
#3 convert string to upppercase
_s=input('enter a string:')
b=_s.upper()#using upper method to convert uppercase
print(b)

enter a string:welcome
WELCOME

In [37]:
#4 convert string to lowercase
str_4=input("enter a string with uppercase letters:")
str_l=str_4.lower() # using method lower to conver to lower case
print(str_l)

enter a string with uppercase letters:pwskills
pwskills

In [39]:
#5 count the no of vowels
def v_s(stri_ng):
    v_c=0
    stri_ng=stri_ng.lower()
    v_o=set('aeiou')
    for chare in stri_ng:
        if chare in v_o:
            v_c +=1
    return v_c
i_s=input("enter a string:")
r=v_s(i_s)
print("no of vowels:",r)

enter a string:hello
no of vowels: 2

In [40]:
##6 count the no of consonants in a string
def c_s(con):#c_s:consonants function
    c_c=0#c_c:consonent count
    con=con.lower()#s:string
    c_o=set('aeiou')#c_o:consonants
    for char in con:#itereting through each charecter
        if char not in c_o:
            c_c +=1
    return c_c
i_s=input("enter a string:")
r=c_s(i_s)
print("no of consonents:",r)

enter a string:india
no of consonents: 2

In [10]:
#7 to remove white spaces
str_2=input('enter the string with spaces:')
n_s=str_2.replace(" ","")#using replace method to remove white spaces
print('modified string without spaces is:{}'.format(n_s))

enter the string with spaces:b l a c k p a n t h e r
modified string without spaces is:blackpanther

In [41]:
#8 find length without len() fun
x_l=input("enter a string:")#balraj-->012345
x_l1=list(x_l)#[b,a,l,r,a,j]
print(x_l1)#
l_c=x_l1.index(x_l1[-1]) #5      
l_c=l_c+1#length is sum of end index+1#5+1
print('the length of string is {}'.format(l_c))

enter a string:datascience
['d', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 'c', 'e']
the length of string is 8

In [43]:
#9 check if the word contains specified word
g_9='hello akash'
h_9='hello' in g_9#check for containin
print(h_9)

True

In [13]:
#10 replacing word with another word
_d='hello raj'
_e=_d.replace('raj','kumar')#replacing "raj" with 'kumar' by replace method
print(_e)

hello kumar

In [14]:
#11count the occurance of word in string
_m=input('enter the sentence:')
print(_m.count('hello'))#here we have to take the parameter as the word which we want to know the occurance

enter the sentence:hello hello who are you
2

In [44]:
#12.find the first occurance of a word in astring
def find_first_occurance(tex_t,word):#creating a function
    index=tex_t.find(word)# check the index of first occurance of word in the text
    if index==-1:#if index==-1 that means no word found 
        return None #returns none if the word doesnot exists in a text
    return index #returs the index if word exist
tex_t=input("enter a text:")
word=input("enter a word:")#word we want to check 
result=find_first_occurance(tex_t,word) #function calling
print("index of the first occurance",result)

enter a text:your name rishik my name also rishik
enter a word:rishik
index of the first occurance 10

In [16]:
#13 find the last occurance of a word in a string
def last_occurance(text_l,word_l):#creating a function
    index=text_l.rfind(word_l)#check the index of the  last occurance of a word
    if index==-1:#if index==-1 that means no word found
        return None #returs the none if word doesnot exists
    return index#returs the index if word exists
text_l=input("enter the text:")
word_l=input("enter the word:")
result=last_occurance(text_l,word_l)
print("the last occurance index:",result)

enter the text:great of all time
enter the word:time
the last occurance index: 13

In [17]:
#14.split a string into list of words
def split_string(str_3):#creating a function 
    list_words=str_3.split()#using split method to seperate the words
    return list_words
str_3=input("enter a string:")
result=split_string(str_3)
print("the splitted words:",result)

enter a string:take risk face the challenges
the splitted words: ['take', 'risk', 'face', 'the', 'challenges']

In [18]:
#15 join a list of words into a string#lowias
def join_lowias(words):#creating a function
    joined_string=" ".join(words)#using join method to make group of words as single sentence
    return joined_string
words=['hello','iam','balraj']
text=join_lowias(words)
print("the joined string is:",text)

the joined string is: hello iam balraj

In [20]:
#16. Convert a string where words are separated by spaces to one
#where words are separated by underscores.
def replace_spacewith_underscore(str_5):
    underscore_seperated=str_5.replace(" ",'_')
    return underscore_seperated
str_5=input('enter a string')
result=replace_spacewith_underscore(str_5)
print('the new string is',result)

enter a stringwelcome to datascience
the new string is welcome_to_datascience

In [1]:
#17 check if a string starts with a specific word or phrase
def s_w_specific_word(str_6,prefix):#creating a function
    specific_word=str_6.startswith(prefix)#usung startswith method to recognize the word to be started
    return specific_word#it returns bool if specific_word present otherwise returns false
str_6=input("enter a string:")
prefix=input("enter a prefix:")
result=s_w_specific_word(str_6,prefix)
if result:
    print("the string starts with specific_word:")
else:
    print(f"the string doesnot starts with specific_word:")

enter a string:the man who knew infinity
enter a prefix:the
the string starts with specific_word:

In [2]:
#18.check if a string ends with specific word or phrase
def s_w_ends_with(str_7,suffix):#creating a function
    specific_word=str_7.endswith(suffix)#use endswith method to check specific word to be end
    return specific_word
str_7=input('enter a string:')
suffix=input("enter a word:")
result=s_w_ends_with(str_7,suffix)
if result:
    print('yes the string ends with specific word')
else:
    print("no the string doesnot ends with specific string")

enter a string:the man who knew infinity
enter a word:infinity
yes the string ends with specific word

In [3]:
#19.conver a string to title case
def str_title_(str_8):#creating a function
    title_is=str_8.title()#using method title it converts all first letters of the sentence as capital
    return title_is
str_8=input("enter a string")
result=str_title_(str_8)
print(f"the title of the string {result}")

enter a stringmake in india
the title of the string Make In India

In [45]:
#20.find the longest word in a string
def find_longest_word(input__string):#creating a functin
    words = input_string.split()#splitting the sentence in string
    longest_word = ""#taking empty string
    max_length = 0
    for word in words:#itereting through each word
        word_length = len(word.strip('.,!?").')) #calculating len of word seperated by special symbols
        if word_length > max_length:
            max_length = word_length
            longest_word = word
    
    return longest_word
input__string = "This is a sample sentence with some long words."
result = find_longest_word(input__string)
print("The longest word is:", result)

The longest word is: sentence

In [46]:
#21 find the shortest word in a string
def find_shortest_word(te_xt):#creating a function
        words = te_xt.split()#spliting the sentence in a string as words
        shortest_word = None
        min_length = float('inf') 
        for word in words:
            if len(word) < min_length:
                min_length = len(word)
                shortest_word = word
        return shortest_word
# Example usage
te_xt = input("enter a string")
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

enter a stringwow beautiful
Shortest word: wow

In [6]:
#22 reverse the order of words in a string
def rev_order(str_9):#creating a function
        o_w=str_9.split()#using split method
        o_w.reverse()#using reverse method to  reverse the words
        return o_w
str_9=input("enter a string:")
result=rev_order(str_9)
print("the reversed string words",result)

enter a string:the sky is so high
the reversed string words ['high', 'so', 'is', 'sky', 'the']

In [47]:
#23. check if a string is alphanumeric
def al_nu(st_ring):#creating a function
    alpha_numeric=st_ring.isalnum()#using method to know the string contains alphabets and numbers
    return alpha_numeric#returns true if string contains alphabets and numbers
st_ring=input("enter a string:")
result=al_nu(st_ring)
if(result==True):
    print("yes {} is alphanumeric".format(st_ring))
else:
    print("no it is not alphanumeric")

enter a string:123abcd
yes 123abcd is alphanumeric

In [8]:
#24. Extract all digits from a string
def all_digits(str_a):#creating a function
    digits=''#creating empty string
    for chr in str_a:#iterating through each character
        if chr.isdigit():#using isdigit() method to find wither the charecter is digit or not
            digits += chr
    return digits
str_a=input("enter a string")
result=all_digits(str_a)
print("the digits are{}".format(result))

enter a string123rollnumber
the digits are123

In [9]:
# 25.Extract all alphabets from a string
def all_alphabets(str_b):#creating a function
    alphabets=""#creating empty string
    for chr in str_b:#iterating through each charactrer
        if chr.isalpha():#using isalpha() method to check wether the charecter is alphabet or not
            alphabets += chr
    return alphabets
str_b=input("enter a string")
result=all_alphabets(str_b)
print("the alphabets are",result)

enter a string123mission
the alphabets are mission

In [10]:
#26 count the no of upper_case letters in a string
def upper_case(str_c):#creating a function
    u_case=""#assigning empty string 
    for chr in str_c:#iterating through each charecter
        if chr.isupper():#check for capital letters
            u_case += chr
    return u_case
str_c=input("enter a string")
result=upper_case(str_c)
if result:
    print("the uppercase letters are:",result)
    print("the count is",len(result))
else:
    print("sorry there is no upper_case letters")

enter a stringALEXA is assistant
the uppercase letters are: ALEXA
the count is 5

In [11]:
#27 count the no of lower_case letters in a string
def lower_case(str_d):#creating a function
    l_case=""#taking empty string
    for chr in str_d:#iterating through each charecter
        if chr.islower():#check for lower case letters
            l_case += chr
    return l_case
str_d=input("enter a string")
result=lower_case(str_d)
if result:
    print("the lower_case letters are:",result)
    print("the count is:",len(result))
else:
    print("no lower_case letters found")

enter a stringALEXA is assistant
the lower_case letters are: isassistant
the count is: 11

In [12]:
# 28.swap the case of each character in a string
# we use swapcase method it converts lowercase letters to upper and upper case letters to lower
def swap_case(str_e):#creating a function
    s_case=str_e.swapcase()#using swapcase() to swap
    return s_case#it returns lowercase as uppercase and uppercase as lowercase
str_e=input("enter a string")
result=swap_case(str_e)
print("the swap_case is:",result)

enter a stringmarkANTONY
the swap_case is: MARKantony

In [13]:
#29 remove the specific word from string 
def specific_word(str_29,w):#creating a function
    b=str_29.split()#using split method to seperate the sentence as words
    b.remove(w)#using remove method for removing the specific word
    k=" "#storing removed word
    s=k.join(b)#joining removed word to a empty string
    return s 
str_29=input("enter a string:")
w=input("enter a word:")
result=specific_word(str_29,w)
print("the new sentence is:",result)

enter a string:today is not holiday
enter a word:not
the new sentence is: today is holiday

In [14]:
#30. Check if a string is a valid email address.
import re

def is_valid_email(email):
    # Define a regular expression pattern for a valid email address
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'

    # Use the re.match function to check if the email matches the pattern
    if re.match(pattern, email):
        return True
    else:
        return False

# Example usage:
email = "mbalaraju8246@gmail.com"
if is_valid_email(email):
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

mbalaraju8246@gmail.com is a valid email address.

In [15]:
# 31.extract the username from an email address string
def obtain_username(str_f):#creating a function
    u_n=str_f.split('@')[0]#splitting the sentece at @
    return u_n
str_f=input("enter the mail:")
result=obtain_username(str_f)
print("the username is:",result)

enter the mail:mbalaraju8246@gmail.com
the username is: mbalaraju8246

In [16]:
# 32.extract the domain_name from an email address
def extract_d_n(str_g):#creating a function
    domain_name=str_g.split('@')[1]#splitting sentence at @
    return domain_name # returns domain_name
str_g=input("enter a mail:")
res=extract_d_n(str_g)
print("the domain name is:",res)

enter a mail:mbalaraju8246@gmail.com
the domain name is: gmail.com

In [18]:
#33. Replace multiple spaces in a string with a single space
def replace_m_s(str_h):#creating a function
    new_str=' '.join(str_h.split())#joining all splitted words with single space
    return new_str#returns the string with single space
str_h=input("enter a string with spaces")
res=replace_m_s(str_h)
print("the new str is:",res)

enter a string with spacesp           w     s     k      i   l   l   s
the new str is: p w s k i l l s

In [19]:
# 34.check if a string is valid URL
from urllib.parse import urlparse#importing library urlparse
def is_valid_url(url):#creating a function
    try:
        result=urlparse(url)
        return all([result.scheme,result.netloc])
    except ValueError:
        return False
url_1='https://www.pwskills.com'
url_2="invalid-url"
res_1=is_valid_url(url_1)
res_2=is_valid_url(url_2)
print(res_1)
print(res_2)

True
False

In [20]:
#35.Extract the protocol(http or https) from a URL string
def extract_protocol(url):#creating function
    protocal_end=url.find("://")#using find method to find :// 
    if protocal_end !=-1:#writing conditional statements
        protocal=url[:protocal_end]
        return protocal
    else:
        return None
# type urls
url1="http://www.pwskills.com"
url2='google.com'
p_1=extract_protocol(url1)
p_2=extract_protocol(url2)
print("protocol_1",p_1)
print("protocol_2",p_2)

protocol_1 http
protocol_2 None

In [21]:
#36 find the frequency of each charecter in astring
def sentence(str_i):#creating a function
    freq={}
    for chr in str_i:#iterating through each character
        if chr in freq:#writing conditional statements
            freq[chr]+=1
        else:
            freq[chr]=1
    return freq #returns frequency
str_i=input("enter a string")
chr_freq=sentence(str_i)
for chr,freq in chr_freq.items():
    print(f"character:'{chr}',Frequency:{freq}")

enter a stringbalraj
character:'b',Frequency:1
character:'a',Frequency:2
character:'l',Frequency:1
character:'r',Frequency:1
character:'j',Frequency:1

In [22]:
#37 # remove all puctuatins from a string
import string
def remove_punc(text_s):
    translator=text_s.maketrans("","",string.punctuation)
    clean_str=text_s.translate(translator)
    return clean_str
text_s=input("enter a string")
cleaned_str=remove_punc(text_s)
print("original string:",text_s)
print("cleaned string:",cleaned_str)

enter a stringhllo! iam,balraj.
original string: hllo! iam,balraj.
cleaned string: hllo iambalraj

In [23]:
 #38 check if string contains only digits
str_38=input('enter a string:')
if(str_38.isdigit()==1):
    print("the string only contains digits")
else:
    print("it is mixed of some other")

enter a string:123
the string only contains digits

In [24]:
#39 check if string contains only alphabets
s_39=input('enter a string:')
if(s_39.isalpha()==1):
    print("the string only contains alphabets")
else:
    print("it is mixed of some other")

enter a string:India
the string only contains alphabets

In [26]:
#40 convert a string to a list of characters
str_40=input("enter a string")
lst_40=list(str_40)
print("the list of characters are",lst_40)

enter a stringbegood
the list of characters are ['b', 'e', 'g', 'o', 'o', 'd']

In [27]:
#41 check if two string are anagrams
def are_anagrams(str1,str2):
    str1=str1.replace(" ","").lower()
    str2=str2.replace(" ","").lower()
    return sorted(str1)==sorted(str2)
string1='listen'
string2='silent'
string3='balraj'
string4='student'
res1=are_anagrams(string1,string2)
res2=are_anagrams(string3,string4)
print(f"'{string1}' and '{string2}'are anagrams:",res1)
print(f"'{string3}' and '{string4}'are anagrams:",res2)

'listen' and 'silent'are anagrams: True
'balraj' and 'student'are anagrams: False

In [166]:
#42. Encode a string using a Caesar cipher.
def caesar_cipher_encrypt(texts, shift):
    encrypted_text = ""

    for char in texts:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()
            char = char.lower()

            # Apply the Caesar cipher shift
            shifted_chars = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))

            # Convert back to uppercase if the original character was uppercase
            if is_upper:
                shifted_chars = shifted_chars.upper()

            encrypted_text += shifted_chars
        else:
            # If the character is not a letter, leave it unchanged
            encrypted_text += char

    return encrypted_text

# Example usage:
plaintext = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift)
print(encrypted_text)

Khoor, Zruog!

In [1]:
#43.decode a string using a Caesar cipher encoding string
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()
            char = char.lower()

            # Apply the reverse Caesar cipher shift
            shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))

            # Convert back to uppercase if the original character was uppercase
            if is_upper:
                shifted_char = shifted_char.upper()

            decrypted_text += shifted_char
        else:
            # If the character is not a letter, leave it unchanged
            decrypted_text += char

    return decrypted_text

# Example usage:
encrypted_text = "FmxfLExY"
shift = 5
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)
print("Decrypted text:", decrypted_text)

Decrypted text: AhsaGZsT

In [2]:
#44. Find the most frequent word in a string.
import re
from collections import Counter
def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word
input_str = "Hello world, hello there! How's the world?"
most_common = most_frequent_word(input_str)
print("Most frequent word:", most_common)

Most frequent word: hello

In [2]:
# 45.Find the unique words in a string
import re
def unique_words(input_string):
    clean_string=re.sub(r'[^\w\s]', '', input_string).lower()
    words=set(clean_string.split())
    return words
input_str="Hello world, hello there! How's the world?"
unique_word_set=unique_words(input_str)
print("unique words:",unique_word_set)

unique words: {'hello', 'the', 'world', 'hows', 'there'}

In [3]:
#46. Count the number of syllables in a string.
import re
def count_syllables(word):
    vowel_groups=re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)
word1='hello'
word2='banana'
word3='syllable'
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)
print(f"'{word1}'has{syllables1} syllable.")
print(f"'{word2}'has{syllables2} syllable.")
print(f"'{word3}'has{syllables3} syllable.")

'hello'has2 syllable.
'banana'has3 syllable.
'syllable'has3 syllable.

In [4]:
# 47. Check if a string contains any special characters.
import re
def contains_special_characters(input_string):
    pattern=re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match=pattern.search(input_string)
    return bool(match)
string1="hello,world!"
string2="#serial@killer"
string3='<class,str>'
result1=contains_special_characters(string1)
result2=contains_special_characters(string2)
result3=contains_special_characters(string3)
print(f'"{string1}"contains special charecters:',result1)
print(f'"{string2}"contains special charecters:',result2)
print(f'"{string3}"contains special charecters:',result3)

"hello,world!"contains special charecters: True
"#serial@killer"contains special charecters: True
"<class,str>"contains special charecters: True

In [5]:
#48. Remove the nth word from a string.
def remove_nth_word(input_string,n):
    words=input_string.split()
    if n>=1 and n<=len(words):
        removed_word=words.pop(n-1)
        modified_string=' '.join(words)
        return modified_string,removed_word
    else:
        return None,None
input_str="this is an example sentence to test the function."
n_value=4
modified_str, removed_word = remove_nth_word(input_str, n_value)
print("Original string:", input_str)
if modified_str is not None:
 print("Modified string:", modified_str)
 print("Removed word:", removed_word)
else:
 print("Invalid n value.")

Original string: this is an example sentence to test the function.
Modified string: this is an sentence to test the function.
Removed word: example

In [6]:
#49.insert the word at the nth position of a string
def insert_word_at_position(original_string, word_to_insert, n):
    # Check if n is within valid bounds
    if n < 0:
        n = 0
    elif n > len(original_string):
        n = len(original_string)
    
    # Insert the word at the specified position
    new_string = original_string[:n] + word_to_insert + original_string[n:]
    
    return new_string

# Example usage:
original_string = "hello iam "
word_to_insert = "balraj"
position = 10
result = insert_word_at_position(original_string, word_to_insert, position)
print(result)

hello iam balraj

In [7]:
#50. Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    # Initialize a list to store the result
    result = []

    # Split the CSV string into lines
    lines = csv_string.strip().split('\n')

    # Split each line into a list of values
    for line in lines:
        values = line.split(',')
        result.append(values)

    return result

# Example usage:
csv_string = "John,Doe,30\nJane,Smith,25\nBob,Johnson,40"
result = csv_string_to_list(csv_string)
print(result)

[['John', 'Doe', '30'], ['Jane', 'Smith', '25'], ['Bob', 'Johnson', '40']]

# TOPIC:LIST based practice problems:

In [8]:
#1.. Create a list with integers from 1 to 10.
#using list comprehension
i_l=[i for i in range(1,11)]
print("the integer list is:",i_l)

the integer list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
#2. Find the length of a list without using the len() function
l=[1,2,3,4,'a']
k=l.index(l[-1])
l_e_n=k+1
print("the length of list is",l_e_n)

the length of list is 5

In [10]:
#3. Append an element to the end of a list.
l=[1,2,3,4]
l.append(5)
print("list after appending element is:",l)

list after appending element is: [1, 2, 3, 4, 5]

In [11]:
#4. Insert an element at a specific index in a list
l=[4,5,68,'a']
l.insert(3,'b')
print("the updated list is",l)

the updated list is [4, 5, 68, 'b', 'a']

In [12]:
#5. Remove an element from a list by its value
l=[1,2,3,'f','r']
l.remove('r')#element to remove-'r'
print("the new list is",l)

the new list is [1, 2, 3, 'f']

In [13]:
#6. Remove an element from a list by its index.
l=['hello','1',2.5,2,False]
l.pop(3)#specifying position of element index that has to remove
print("the new list is",l)

the new list is ['hello', '1', 2.5, False]

In [14]:
#7. Check if an element exists in a list.
a=[1,2,3,4]
element_check=int(input('enter the element to check:'))
if element_check in a:
    print("{} is present in {}".format(element_check,a))
else:
    print("{} is not present in {}".format(element_check,a))

enter the element to check:2
2 is present in [1, 2, 3, 4]

In [15]:
#8. Find the index of the first occurrence of an element in a list.
a=[1,2,3,12,1,13,3]
element_to_find=int(input("enter the number"))
index=a.index(element_to_find)
print("the index of{} is {}".format(element_to_find,index))

enter the number2
the index of2 is 1

In [19]:
#9. Count the occurrences of an element in a list.
l_9=[1,2,3,4,5,2,3,2,3]
element_to_count=2
c_ount=l_9.count(element_to_count)
print("the occuarance of {} is {}".format(element_to_count,c_ount))

the occuarance of 2 is 3

In [20]:
#10. Reverse the order of elements in a list.
l_10=[3,4,6,8,9,12,23]
l_10.reverse()
print('the reveres of a string is',l_10)

the reveres of a string is [23, 12, 9, 8, 6, 4, 3]

In [21]:
#11. Sort a list in ascending order
l_11=[3,1,4,2,7,5,4]
l_11.sort()
print("the sorted list is",l_11)

the sorted list is [1, 2, 3, 4, 4, 5, 7]

In [22]:
#12. Sort a list in descending order.
l_12=[3,7,5,6,9,1,4,6,4,0]
l_12.sort(reverse=1)
print("the descending order is",l_12)

the descending order is [9, 7, 6, 6, 5, 4, 4, 3, 1, 0]

In [23]:
#13. Create a list of even numbers from 1 to 20.
e_n=[i for i in range(2,21,2)]
print(e_n)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
#14. Create a list of odd numbers from 1 to 20
o_d=[i for i in range(1,21,2)]
print(o_d)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
#15. Find the sum of all elements in a list.
a=[4,7,3,8,4,6,7]
sum=sum(a)
print("the sum is",sum)

the sum is 39

In [26]:
#16. Find the maximum value in a list.
l=[23,5444,34,12,43]
m_v=max(l)
print("the maximum value is",m_v)

the maximum value is 5444

In [27]:
#17. Find the minimum value in a list.
l=[34,23,6,7,54,89,677]
m_v=min(l)
print("the minimum value is",m_v)

the minimum value is 6

In [28]:
#18. Create a list of squares of numbers from 1 to 10
s=[i**2 for i in range(1,11)]
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
#19. Create a list of random numbers.
import random
rand_int=[random.randint(1,100) for _ in range(20)]
print("the random nos are",rand_int)

the random nos are [6, 85, 48, 55, 43, 95, 98, 26, 63, 74, 30, 18, 58, 70, 51, 43, 88, 45, 57, 8]

In [30]:
#20. Remove duplicates from a list.
a=[1,2,3,2,3,1,4,5,6]
r_d=set(a)
print("the unique value list",r_d)

the unique value list {1, 2, 3, 4, 5, 6}

In [31]:
#21. Find the common elements between two lists.
a=[1,2,3,46,3,4]
b=[23,2,4,1,5,2]
intersection=list(set(a).intersection(set(b)))
print("the common elements are",intersection)

the common elements are [1, 2, 4]

In [32]:
#22. Find the difference between two lists.
a=[1,2,3,46,3,4]
b=[23,2,4,1,5,2]
difference=list(set(a).difference(set(b)))
print("the elements only in a not in b is",difference)

the elements only in a not in b is [3, 46]

In [33]:
#23. Merge two lists.
a=[1,2,3,46,3,4]
b=[23,2,4,1,5,2]
m_erge=a+b
print("the merged list is",m_erge)

the merged list is [1, 2, 3, 46, 3, 4, 23, 2, 4, 1, 5, 2]

In [34]:
#24. Multiply all elements in a list by 2.
l=[2,3,5,6,7,3,4,2]
m_l=[i*2 for i in a]
print("multiplied list",m_l)

multiplied list [2, 4, 6, 92, 6, 8]

In [35]:
#25. Filter out all even numbers from a list
a=[2,3,5,3,4,6,7,8]
k=[i for i in a if i%2==0 ]
print("the filterd elements are",k)

the filterd elements are [2, 4, 6, 8]

In [36]:
#26. Convert a list of strings to a list of integers.
lst=['2','12','4','44','23']
i_l=[int(i) for i in lst]
print("the list of integers is",i_l)

the list of integers is [2, 12, 4, 44, 23]

In [37]:
#27. Convert a list of integers to a list of strings
m=[12,3,2,5,7,4,5]
l_s=[str(i) for i in m]
print("the string form of elements in list is",l_s)

the string form of elements in list is ['12', '3', '2', '5', '7', '4', '5']

In [38]:
#28. Flatten a nested list.
n_l=[[1, 2, 3], [4, 5], [6, 7, 8, 9]]
def flatten_list(nested):
    flattened=[]
    for sublist in nested:
        if isinstance(sublist,list):
            flattened.extend(flatten_list(sublist))
    
        else:
            flattened.append(sublist)
    return flattened
flattened_list=flatten_list(n_l)
print('flattened list:',flattened_list)

flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
#29. Create a list of the first 10 Fibonacci numbers.
def test_fib(n):
    a,b=0,1
    for i in list(range(n)):
        yield a
        a,b=b,a+b
n=10
res=test_fib(n)
fib_l=list(res)
print("the first 10 fibonacci sequence is:",fib_l)

the first 10 fibonacci sequence is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [40]:
#30 check if a list is sorted
def check_list_sorted(l_s_t):
    for i in l_s_t:
        if l_s_t[i]<l_s_t[i-1]:
            return False
    return True
l_s_t=[3,6,2,4,6,3,5,3,8]
if check_list_sorted(l_s_t):
    print("the list is sorted")
else:
    print("the list is not sorted")

the list is not sorted

In [41]:
#31. Rotate a list to the left by n positions.
def rotate_left(m_l,n):
    n=n%len(m_l)
    rotated=m_l[n:]+m_l[:n]
    return rotated
m_l=[11,12,13,14,15,16]
n=2
rotated_list=rotate_left(m_l,n)
print("rotated list:",rotated_list)

rotated list: [13, 14, 15, 16, 11, 12]

In [42]:
#32. Rotate a list to the right by n positions
def rotate_left(m_l,n):
    n=n%len(m_l)
    rotated=m_l[-n:]+m_l[:-n]
    return rotated
m_l=[11,12,13,14,15,16]
n=2
rotated_list=rotate_left(m_l,n)
print("rotated list:",rotated_list)

rotated list: [15, 16, 11, 12, 13, 14]

In [44]:
#33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Generate a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

# Print the list of prime numbers
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [45]:
#34.Split a list into chunks of size n.
def chunk_list(input_list, n):
    for i in range(0, len(input_list), n):
        yield input_list[i:i + n]

# Example usage:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

# Use the generator function to split the list into chunks
chunked_lists = list(chunk_list(original_list, chunk_size))

# Print the chunked lists
for chunk in chunked_lists:
    print(chunk)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10]

In [46]:
#35. Find the second largest number in a list.
m_l=[10,5,20,32,12,43]
s_l=sorted(set(m_l))
if len(s_l)>=2:
    second_largest=s_l[-2]
    print("second largest number",second_largest)
else:
    print("the list does not contain enough elements.")

second largest number 32

In [47]:
# 36. Replace every element in a list with its square.
m_l=[2,4,6,8,10]
sq_l=[i**2 for i in m_l]
print("squared list:",sq_l)

squared list: [4, 16, 36, 64, 100]

In [49]:
#37. Convert a list to a dictionary where list elements become keys and
#their indices become values.
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}
# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [50]:
#38. Shuffle the elements of a list randomly.
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(my_list)
# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [7, 2, 4, 9, 3, 6, 1, 8, 10, 5]

In [51]:
#39.Create a list of the first 10 factorial numbers
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
factorial_numbers=[factorial(i) for i in range(10)]
print("the list of 1st 10 factorial nos is",factorial_numbers)

the list of 1st 10 factorial nos is [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [52]:
#40. Check if two lists have at least one element in common.
def has_common_elements(list1,list2):
    for item in list1:
        if item in list2:
            return True
        return False
list1=[2,3,42,3]
list2=[2,3,32,4]
if has_common_elements(list1,list2):
    print("the list have atleast one common element")
else:
    print("the list donot have any common element")

the list have atleast one common element

In [53]:
#41. Remove all elements from a list.
a=[1,2,3,4,5]
a.clear()
print("the list is empty",a)

the list is empty []

In [54]:
#42. Replace negative numbers in a list with 0
l_t=[1,2,3,-1,-2,-3,-6]
for i in range(len(l_t)):
    if l_t[i]<0:
        l_t[i]=0
print("list after replacing negative numbers with 0:",l_t)

list after replacing negative numbers with 0: [1, 2, 3, 0, 0, 0, 0]

In [55]:
#43.. Convert a string into a list of words.
s_t_='come lets join hands'
w_list=s_t_.split()
print("the word list is",w_list)

the word list is ['come', 'lets', 'join', 'hands']

In [56]:
#44. Convert a list of words into a string.
_w_lst=['come', 'lets', 'join', 'hands']
_st_r=" ".join(_w_lst)
print("the string form of words is",_st_r)

the string form of words is come lets join hands

In [57]:
#45. Create a list of the first n powers of 2
n=5
p_l=[2**i for i in range(n)]
print("list of the first",n,'power of 2:',p_l)

list of the first 5 power of 2: [1, 2, 4, 8, 16]

In [58]:
#46Find the longest string in a list of strings
l_s=['today','is','sunday','brother']
lo_s=""
for s in l_s:
    if len(s)>len(lo_s):
        lo_s=s
print("longest string:",lo_s)

longest string: brother

In [59]:
#47. Find the shortest string in a list of strings.
k_s=['today','is','sunday','brother']
k_s.sort()
lk_s=k_s[0]
for s in k_s:
    if len(s)<len(lk_s):
        lk_s=s
print("longest string:",lk_s)

longest string: is

In [60]:
#48. Create a list of the first n triangular numbers.
def triangular_numbers(n):
    return [i*(i+1)//2 for i in range(1,n+1)]
n=5
_t_l=triangular_numbers(n)
print("list of the first",n,'triangular numbers:',_t_l)

list of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [61]:
#49. Check if a list contains another list as a subsequence
def is_subsequence(sub, main):
    # Initialize indices for both lists
    sub_index = 0
    main_index = 0

    # Iterate through the main list
    while main_index < len(main) and sub_index < len(sub):
        # If the current elements match, move to the next element in the subsequence
        if sub[sub_index] == main[main_index]:
            sub_index += 1
        # Move to the next element in the main list
        main_index += 1

    # If we reached the end of the subsequence, it's a subsequence of the main list
    return sub_index == len(sub)

# Example usage:
main_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [1,6,7]

if is_subsequence(sub_list, main_list):
    print(f"{sub_list} is a subsequence of {main_list}.")
else:
    print(f"{sub_list} is not a subsequence of {main_list}.")

[1, 6, 7] is a subsequence of [1, 2, 3, 4, 5, 6, 7].

In [62]:
#50 Swap two elements in a list by their indices
l_1=[1,2,3,4,5]
index1=1
index2=3
temp=l_1[index1]
l_1[index1]=l_1[index2]
l_1[index2]=temp
print("list after swapping elements:",l_1)

list after swapping elements: [1, 4, 3, 2, 5]

# Tuple based practice problem :

In [63]:
#1. Create a tuple with integers from 1 to 5.
t_l=(2,6,3,5,7)
print(t_l,type(t_l))

(2, 6, 3, 5, 7) <class 'tuple'>

In [64]:
#2. Access the third element of a tuple
t_l2=(2,6,3,5,7)
print("the third element is:",t_l2[2])

the third element is: 3

In [65]:
3.# Find the length of a tuple without using the len() function.
t_l3=(2,6,3,5,7)
c=1
l_s_t3=list(t_l3)
le_=c+l_s_t3.index(l_s_t3[-1])
print("the length of tuple is:",le_)

the length of tuple is: 5

In [66]:
#4. Count the occurrences of an element in a tuple
t_l4=(1,2,3,3,2,1,5,6)
e_c=int(input("enter a number which you want to count:"))
c_t=0
for i in t_l4:
    if e_c==i:
        c_t+=1
print("the count of",e_c,'is',c_t)

enter a number which you want to count:3
the count of 3 is 2

In [68]:
#5. Find the index of the first occurrence of an element in a tuple.
t_15=(1,2,3,3,2,1,5,6)
f_oc=int(input("enter a number you want to know the occurance"))
index=-1
for i, item in enumerate(t_15):
    if item == element_to_find:
        index = i
        break
if index != -1:
    print(f"the first occurance of{element_to_find} is an index {index}")
else:
    print(f"{element_to_find} is not found in the tuple.")

enter a number you want to know the occurance2
the first occurance of2 is an index 1

In [69]:
#6. Check if an element exists in a tuple
t_6=(1,2,3,4,5)
e_tc=int(input("enter a number u want to check"))
if e_tc in t_6:
    print(f"yes the no {e_tc} present in {t_6}")
else:
    print("no the no not present")

enter a number u want to check3
yes the no 3 present in (1, 2, 3, 4, 5)

In [70]:
#7. Convert a tuple to a list.
t_7=(1,2,3,4,5)
l_t=list(t_7)
print(l_t,type(l_t))

[1, 2, 3, 4, 5] <class 'list'>

In [71]:
#8. Convert a list to a tuple.
l_st=[13,1,2,4,5,6]
t_p_l=tuple(l_st)
print(t_p_l,type(t_p_l))

(13, 1, 2, 4, 5, 6) <class 'tuple'>

In [72]:
#9. Unpack the elements of a tuple into variables.
t_p_l9=(11,12,13)
m,n,o=t_p_l9
print('var1:',m)
print('var2:',n)
print('var3:',o)

var1: 11
var2: 12
var3: 13

In [73]:
#10. Create a tuple of even numbers from 1 to 10.
e_no_l=[num for num in range(2,11,2)]
t_eno=tuple(e_no_l)
print(t_eno,type(t_eno))

(2, 4, 6, 8, 10) <class 'tuple'>

In [74]:
#11. Create a tuple of odd numbers from 1 to 10
e_no_l=[num for num in range(1,11,2)]
t_eno=tuple(e_no_l)
print(t_eno,type(t_eno))

(1, 3, 5, 7, 9) <class 'tuple'>

In [75]:
#12. Concatenate two tuples.
t_121=(1,2,3,4)
t_122=(5,6,7,8)
t_n12=t_121+t_122
print(t_n12)

(1, 2, 3, 4, 5, 6, 7, 8)

In [76]:
#13. Repeat a tuple three times.
t_123=(5,6,7,8)
print("repeated tuple",t_123*3)

repeated tuple (5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8)

In [77]:
#14. Check if a tuple is empty.
a_1=()
if not a_1:
    print("the tuple is empty")
else:
    print("the tuple is non_empty")
a_2=(1,2,3,4)
if not a_2:
    print("the tuple is empty")
else:
    print("the tuple {} is non_empty".format(a_2))

the tuple is empty
the tuple (1, 2, 3, 4) is non_empty

In [78]:
#15. Create a nested tuple.
n_t=((1,2,3),('s','h','t'),(True,False))
print("nested tuple:",n_t)

nested tuple: ((1, 2, 3), ('s', 'h', 't'), (True, False))

In [79]:
#16. Access the first element of a nested tuple.
n_t1=((1,2,3),('s','h','t'),(True,False))
print("the first element of a nested tuple is",n_t1[0])

the first element of a nested tuple is (1, 2, 3)

In [80]:
#17. Create a tuple with a single element.
t_s=(1,)
print(t_s,type(t_s))

(1,) <class 'tuple'>

In [81]:
#18. Compare two tuples.
t_1=(1,2,3,4,2,3)
t_2=(2,3,7,8,8,9)
print("tuple1==tuple2:",t_1==t_2)
print("tuple1!=tuple2:",t_1!=t_2)
print("tuple1<=tuple2:",t_1<=t_2)
print("tuple1>=tuple2:",t_1>=t_2)
print("tuple1==tuple2:",t_1<t_2)
print("tuple1==tuple2:",t_1>t_2)

tuple1==tuple2: False
tuple1!=tuple2: True
tuple1<=tuple2: True
tuple1>=tuple2: False
tuple1==tuple2: True
tuple1==tuple2: False

In [82]:
#19. Delete a tuple.
t_19=(4,5,5,6,7)
del t_19

In [83]:
#20. Slice a tuple.
t_20=(1,2,3,4)
print(t_20[2])

3

In [84]:
#21. Find the maximum value in a tuple.
t_21=(3,6,5,3,6,7)

print("maximum value is:",max(t_21))

maximum value is: 7

In [85]:
#22. Find the minimum value in a tuple
t_22=(3,6,5,3,6,7)
print("maximum value is:",min(t_22))

maximum value is: 3

In [86]:
#23. Convert a string to a tuple of characters.
s_23="hello"
t_23=tuple(s_23)
print("tuple characters is:",t_23)

tuple characters is: ('h', 'e', 'l', 'l', 'o')

In [87]:
#24. Convert a tuple of characters to a string
t_24=('h', 'e', 'l', 'l', 'o')
s_24="".join(t_24)
print(s_24)

hello

In [88]:
#25. Create a tuple from multiple data types.
t_25=(1,2.3,'s',2+3j,True)
print(t_25,type(t_25))

(1, 2.3, 's', (2+3j), True) <class 'tuple'>

In [89]:
#26. Check if two tuples are identical.
x=(1,2,3)
y=(4,5,6)
z=(1,2,3)
print("x={},y={} are identical: {}".format(x,y,x==y))
print("x={},y={} are identical: {}".format(x,z,x==z))

x=(1, 2, 3),y=(4, 5, 6) are identical: False
x=(1, 2, 3),y=(1, 2, 3) are identical: True

In [90]:
#27. Sort the elements of a tuple.
t_27=(4,2,6,4,5,1)
s_et=tuple(sorted(t_27))
print('sorted tuple',s_et)

sorted tuple (1, 2, 4, 4, 5, 6)

In [91]:
#28. Convert a tuple of integers to a tuple of strings
t_28=(3,2,5,7,5,6)
st_28=tuple(str(i) for i in t_28)
print(st_28,type(st_28))

('3', '2', '5', '7', '5', '6') <class 'tuple'>

In [92]:
#29. Convert a tuple of strings to a tuple of integers.
t_29=('3', '2', '5', '7', '5', '6')
st_29=tuple(int(i) for i in t_29)
print(st_29,type(st_29))

(3, 2, 5, 7, 5, 6) <class 'tuple'>

In [93]:
#30. Merge two tuples.
t_30=(6,4,5,7)
t_3_1=(3,6,4,8)
m_t=t_30+t_3_1
print("the merged tuple:",m_t)

the merged tuple: (6, 4, 5, 7, 3, 6, 4, 8)

In [94]:
#31. Flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened=[]
    for item in nested_tuple:
        if isinstance(item,tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple=((1,2,3),(4,5,6),(7,(8,9)))
flattened_tuple=tuple(flatten_tuple(nested_tuple))
print("flattened tuple:",flattened_tuple)

flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [95]:
#32. Create a tuple of the first 5 prime numbers
def is_prime(num):
    if num<=1:
        return False
    for i in range(2,int(num**0.5+1)):
        if num%i==0:
            return False
    return True
p_n_l=[num for num in range(2,100) if is_prime(num)][:5]
p_n_t=tuple(p_n_l)
print("tuple of prime nos is",p_n_t)

tuple of prime nos is (2, 3, 5, 7, 11)

In [96]:
#33. Check if a tuple is a palindrome.
def is_palindrome(tup):
    return tup==tup[::-1]
palindrome_tuple=(1,2,3,2,1)
n_p_t=(1,2,3,4,5)
is_palindrome1=is_palindrome(palindrome_tuple)
is_palindrome2=is_palindrome(n_p_t)
print("palindrome tuple is a tuple:",is_palindrome1)
print("non palindrome_tuple is a palindrome",is_palindrome2)

palindrome tuple is a tuple: True
non palindrome_tuple is a palindrome False

In [97]:
#34. Create a tuple of squares of numbers from 1 to 5.
t_34=tuple(i**2 for i in range(1,6))
print(t_34)

(1, 4, 9, 16, 25)

In [98]:
#35. Filter out all even numbers from a tuple.
t_35=(3,5,4,7,8,9)
t_en=tuple(i for i in t_35 if i%2==0)
print("even numbers are:",t_en)

even numbers are: (4, 8)

In [99]:
#36. Multiply all elements in a tuple by 2.
t_36=(1,2,3,4)
t_m2=tuple(i*2 for i in t_36)
print(t_m2)

(2, 4, 6, 8)

In [100]:
#37. Create a tuple of random numbers
import random
r_t=tuple(random.randint(1,100) for _ in range(10))
print("random tuple is:",r_t)

random tuple is: (58, 95, 27, 63, 50, 82, 81, 66, 10, 39)

In [101]:
#38. Check if a tuple is sorted.
def is_sorted(tup):
    for i in range(len(tup)-1):
        if tup[i]>tup[i+1]:
            return False
    return True
s_t38=(1,2,3,4)
u_st=(5,3,8,6)
is_sorted1=is_sorted(s_t38)
is_sorted2=is_sorted(u_st)
print("the tuple {} is sorted {} ".format(s_t38,is_sorted1))
print("the tuple {} is sorted {}".format(u_st,is_sorted2))

the tuple (1, 2, 3, 4) is sorted True
the tuple (5, 3, 8, 6) is sorted False

In [102]:
#39. Rotate a tuple to the left by n positions
def rotate_tuple_left(tup,n):
    n=n%len(tup)
    rotated_tuple=tup[n:]+tup[:n]
    return rotated_tuple
u_t=(1,2,3,4,5)
n_positions=2
res=rotate_tuple_left(u_t,n_positions)
print(res)

(3, 4, 5, 1, 2)

In [103]:
#40. Rotate a tuple to the right by n positions.
def rotate_ryt(tup,n):
    n=n%len(tup)
    ryt_rotated_tup=tup[-n:]+tup[:-n]
    return ryt_rotated_tup
u_t=(1,2,3,4,5)
n_positions=2
res=rotate_ryt(u_t,n_positions)
print(res)

(4, 5, 1, 2, 3)

In [104]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci=[0,1]
    while len(fibonacci)<n:
        nxt_num=fibonacci[-1]+fibonacci[-2]
        fibonacci.append(nxt_num)
    return tuple(fibonacci)
fibonacci_tuple=generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [105]:
#42. Create a tuple from user input.
u_input=input("enter a number seperated by comma:")
input_list=u_input.split(",")
user_tpl=tuple(input_list)
print("user_tuple",user_tpl)

enter a number seperated by comma:1,2,3,4
user_tuple ('1', '2', '3', '4')

In [106]:
#43. Swap two elements in a tuple.
my_tpl=(12,13)
element1,element2=my_tpl
swapped_tpl=(element2,element1)
print(swapped_tpl)

(13, 12)

In [107]:
#44. Reverse the elements of a tuple.
t_44=(4,5,6,7)
t_r=t_44[::-1]
print("the reversed tuple is:",t_r)

the reversed tuple is: (7, 6, 5, 4)

In [108]:
#45. Create a tuple of the first n powers of 2
n_t=int(input('enter a number'))
t_pl=tuple(2**i for i in range(1,n_t))
print("tuple of the first n power of 2 is:",t_pl)

enter a number6
tuple of the first n power of 2 is: (2, 4, 8, 16, 32)

In [109]:
#46. Find the longest string in a tuple of strings.
t_46=input("enter a sentence seperated by comma")
s_46=t_46.split(",")
print(tuple(s_46))
longest_string=max(s_46,key=len)
print("longest_string",longest_string)

enter a sentence seperated by commahe,is,my,friend
('he', 'is', 'my', 'friend')
longest_string friend

In [110]:
#47. Find the shortest string in a tuple of strings.
t_46=input("enter a sentence seperated by comma")
s_46=t_46.split(",")
print(tuple(s_46))
longest_string=min(s_46,key=len)
print("shortest_string",longest_string)

enter a sentence seperated by commahe is good
('he is good',)
shortest_string he is good

In [111]:
#48. Create a tuple of the first n triangular numbers.
n=4
triangular_number_tuple=tuple(i*(i+1)//2 for i in range(1,n+1))
print("tuple of first",n,"triangular numbers",triangular_number_tuple)

tuple of first 4 triangular numbers (1, 3, 6, 10)

In [112]:
#49. Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple, sub_tuple):
    if not sub_tuple:
        # An empty tuple is considered a subsequence of any tuple.
        return True

    sub_len = len(sub_tuple)
    for i in range(len(main_tuple) - sub_len + 1):
        if main_tuple[i:i+sub_len] == sub_tuple:
            return True
    return False

# Example:
main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (3, 4)

if contains_subsequence(main_tuple, sub_tuple):
    print("The main tuple contains the sub tuple.")
else:
    print("The main tuple does not contain the sub tuple.")

The main tuple contains the sub tuple.

In [113]:
#50. Create a tuple of alternating 1s and 0s of length n
v=10
tp_l=tuple(i%2 for i in range(n))
print("tuple with 0s and 1s is",tp_l)

tuple with 0s and 1s is (0, 1, 0, 1)

# Set based problems:

In [114]:
#1. Create a set with integers from 1 to 5
n=5
st_1=set(i for i in range(1,6))
print(st_1,type(st_1))

{1, 2, 3, 4, 5} <class 'set'>

In [115]:
#2. Add an element to a set
st_2={1, 2, 3, 4, 5}
st_2.add('v')
print("the new set is",st_2)

the new set is {1, 2, 3, 4, 5, 'v'}

In [116]:
#3. Remove an element from a set.
st_3={1, 2, 3, 4, 5, 'v'}
st_3.remove(1)
print(st_3)

{2, 3, 4, 5, 'v'}

In [117]:
#4. Check if an element exists in a set
st_4={2, 3, 4, 5, 'v'}
e_tc=int(input("enter the element to check"))
if e_tc in st_4:
    print("yes the element {} is in {} ".format(e_tc,st_4))
else:
    print("no the element {} not in {} ".format(e_tc,st_4))

enter the element to check4
yes the element 4 is in {2, 3, 4, 5, 'v'}

In [118]:
#5. Find the length of a set without using the len() function
st_5={2, 3, 4, 5, 'v',8}
count=0
for i in st_5:
    count+=1
print("the length of the set is:",count)

the length of the set is: 6

In [119]:
#6. Clear all elements from a set.
st_6={2, 3, 4, 5, 'v',8}
st_6.clear()
print(st_6)

set()

In [120]:
#7. Create a set of even numbers from 1 to 10
k=11
st_7=set(i for i in range(1,k) if i%2==0)
print("the even numbers are",st_7)

the even numbers are {2, 4, 6, 8, 10}

In [121]:
#8. Create a set of odd numbers from 1 to 10
k=11
st_8=set(i for i in range(1,k) if i%2!=0)
print("the odd numbers are",st_8)

the odd numbers are {1, 3, 5, 7, 9}

In [122]:
#9. Find the union of two sets
st_91={1, 3, 5, 7, 9}
st_92={2, 4, 6, 8, 10}
st_union=st_91.union(st_92)
print("the union is:",st_union)

the union is: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [123]:
#10. Find the intersection of two sets
st_10={1, 3, 5, 7, 9}
st_101={1, 3, 6, 8, 10}
st_intersection=st_10.intersection(st_101)
print("the intersection is",st_intersection)

the intersection is {1, 3}

In [124]:
#11. Find the difference between two sets
st_11={1, 3, 5, 7, 9}
st_111={1, 3, 6, 8, 10}
st_difference=st_11.difference(st_111)
print("the set difference is",st_difference)

the set difference is {9, 5, 7}

In [125]:
#12. Check if a set is a subset of another set.
st_12={1, 3, 5, 7, 9}
st_121={1, 3}
st_subset=st_121.issubset(st_12)
if st_subset is True:
    print("yes {} is subet of {}".format(st_121,st_12))
else:    
    print("{} is not subet of {}".format(st_121,st_12))

yes {1, 3} is subet of {1, 3, 5, 7, 9}

In [126]:
#13. Check if a set is a superset of another set
st_13={1, 3, 5, 7, 9}
st_131={1, 3}
st_superset=st_13.issuperset(st_131)
if st_subset is True:
    print("yes {} is superset of {}".format(st_13,st_131))
else:    
    print("{} is not superset of {}".format(st_13,st_131))

yes {1, 3, 5, 7, 9} is superset of {1, 3}

In [127]:
#14. Create a set from a list
l_st=[i for i in range(10)]
s_et=set(l_st)
print("the list is:{}\nset from list is:{}".format(l_st,s_et))

the list is:[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
set from list is:{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [128]:
#15. Convert a set to a list.
st_15={1, 2, 3, 4, 5, 6, 7, 8, 9}
lst_15=list(st_15)
print("the list is",lst_15)

the list is [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
l=[1,2,3,4,5]
l[1:4]=[10,20]#[2,3,4]=[10,20]
print(l)

[1, 10, 20, 5]

In [130]:
#16. Remove a random element from a set.
import random
my_set={1,2,3,4,5}
print("original set:",my_set)
random_element=random.choice(list(my_set))
my_set.remove(random_element)
print("updated set after removing",my_set)

original set: {1, 2, 3, 4, 5}
updated set after removing {1, 3, 4, 5}

In [131]:
#17. Pop an element from a set.
st_17={ 1,2, 3, 4}
st_17.pop()
print(st_17)

{2, 3, 4}

In [132]:
#18. Check if two sets have no elements in common.
st_18={1, 2, 3, 4, 5}
st_181={6,7,8,9}
st_intersection=st_18.intersection(st_181)
if st_intersection==True:
    print("yes the set has common elements")
else:
    print("the set has no common elements")

the set has no common elements

In [133]:
#19. Find the symmetric difference between two sets.
st_19={1, 2, 3, 4, 5}
st_191={6,7,8,9,3,4}
symmetric_difference=st_19.symmetric_difference(st_191)
print("symmetric_difference",symmetric_difference)

symmetric_difference {1, 2, 5, 6, 7, 8, 9}

In [134]:
#20. Update a set with elements from another set.
st_20={1, 2, 5, 6, 7, 8, 9}
st_201={12,13,14,15}
st_20.update(st_201)
print("updated_set",st_20)

updated_set {1, 2, 5, 6, 7, 8, 9, 12, 13, 14, 15}

In [135]:
#21. Create a set of the first 5 prime numbers.
def is_prime(num):
    if num<2:
        return False
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            return False
    return True
prime_set=set()
num=2
while len(prime_set)<5:
    if is_prime(num):
        prime_set.add(num)
    num+=1
print("the prime number set is:",prime_set)

the prime number set is: {2, 3, 5, 7, 11}

In [136]:
#22. Check if two sets are identical.
set1 ={1, 2, 3, 4, 5}
set2 ={3, 1, 5, 2, 4} 
if set1==set2:
    print("the sets are identical")
else:
    print("the sets are unidentical")

the sets are identical

In [137]:
#23. Create a frozen set
elements=[3,4,5,6,7]
frotzen_set=frozenset(elements)
print("frozenset:",frotzen_set)

frozenset: frozenset({3, 4, 5, 6, 7})

In [138]:
#24. Create a frozen set
st_23={3, 4, 5, 6, 7}
st_231={12,8,9}
disjoint=st_23.isdisjoint(st_231)
print("does the sets disjoint:",disjoint)

does the sets disjoint: True

In [139]:
#25. Create a set of squares of numbers from 1 to 5.
st_sq=set(i**2 for i in range(1,6))
print("the set with squares:",st_sq)

the set with squares: {1, 4, 9, 16, 25}

In [140]:
#26. Filter out all even numbers from a set.
st_26={1, 4, 9, 16, 25}
st_en={i for i in st_26 if i%2==0}
print("the even numbers in set is:",st_en)

the even numbers in set is: {16, 4}

In [141]:
#27. Multiply all elements in a set by 2
st_27={1, 4, 9, 16, 25}
n_st={i*2 for i in st_27 }
print("the multiplied set is",n_st)

the multiplied set is {32, 2, 8, 18, 50}

In [142]:
#28. Create a set of random numbers.
import random
num_random_num=5
random_number_set=set()
for _ in range(num_random_num):
    random_num=random.randint(1,100)
    random_number_set.add(random_num)
print("generated set of random numbers:",random_number_set)

generated set of random numbers: {68, 5, 76, 19, 23}

In [143]:
#29. Check if a set is empty
st_29=set()
if not st_29:
    print("the set is empty")
else:
    print("the set is not empty")

the set is empty

In [144]:
#30. Create a nested set
st_30={45, 46, 18, 87, 88}
st_301={6, 7, 8, 9, 10}
frotzen_set1=frozenset(st_30)
frotzen_set2=frozenset(st_301)
nested_set={frotzen_set1,frotzen_set2}
print(nested_set)

{frozenset({18, 87, 88, 45, 46}), frozenset({6, 7, 8, 9, 10})}

In [145]:
#31. Remove an element from a set using the discard method.
st_31={18, 87, 88, 45, 46}
e_t_remove=88
st_31.discard(88)
print("the discarded set is:",st_31)

the discarded set is: {18, 87, 45, 46}

In [146]:
#32. Compare two sets.
set_1={18, 87, 45, 46}
set_2={18,87,2,3}
is_subset = set_1.issubset(set_2)
is_superset = set_1.issuperset(set_2)
intersection = set_1.intersection(set_2)
union = set_1.union(set_2)
difference1 = set_1.difference(set_2)
difference2 = set_2.difference(set_1)
print("Set_1:", set_1)
print("Set_2:", set_2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set_1: {18, 45, 46, 87}
Set_2: {2, 18, 3, 87}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {18, 87}
Union: {2, 3, 45, 46, 18, 87}
Elements in set1 but not in set2: {45, 46}
Elements in set2 but not in set1: {2, 3}

In [147]:
#33. Create a set from a string.
input_str='pwskills'
st_33=set(input_str)
print(st_33)

{'s', 'w', 'i', 'p', 'k', 'l'}

In [148]:
#34. Convert a set of strings to a set of integers.
str_set={'1','2','3'}
int_set=set()
for string in str_set:
    int_val=int(string)
    int_set.add(int_val)
print("the integer set is:",int_set)

the integer set is: {1, 2, 3}

In [149]:
#35. Convert a set of integers to a set of strings.
int_set={2, 3, 45, 46, 18, 87}
str_st=set()
for num in int_set:
    num_str=str(num)
    str_st.add(num_str)
print("original set",int_set)
print("string set",str_st)

original set {2, 3, 18, 87, 45, 46}
string set {'45', '87', '2', '3', '46', '18'}

In [150]:
#36. Create a set from a tuple.
i_tpl=(2, 3, 18, 87, 45, 46)
st_36=print("the set is:",set(i_tpl))

the set is: {2, 3, 45, 46, 18, 87}

In [151]:
#37. Convert a set to a tuple.
st_37={2, 3, 45, 46, 18, 87}
tpl_37=tuple(st_37)
print("the tuple form of given set is:",tpl_37)

the tuple form of given set is: (2, 3, 18, 87, 45, 46)

In [152]:
#38. Find the maximum value in a set.
st_38={2, 3, 45, 46, 18, 87}
max_value=None
for num in st_38:
    if max_value is None or num>max_value:
        max_value=num
print("maximum value",max_value)

maximum value 87

In [153]:
#39. Find the minimum value in a set.
st_39={2, 3, 45, 46, 18, 87}
min_value=None
for num in st_38:
    if min_value is None or num<min_value:
        min_value=num
print("minimum value",min_value)

minimum value 2

In [154]:
#40.Create a set from user input
u_input=input("enter a set by comma seperated value")
input_list=u_input.split(",")
user_set=set(input_list)
print("set created from user input is:",user_set)

enter a set by comma seperated value1,2,3,4
set created from user input is: {'4', '2', '3', '1'}

In [155]:
#41. Check if the intersection of two sets is empty.
st_41={1, 2, 3, 4, 5}
st_412 = {4, 5, 6, 7, 8}
intersectio_n=st_41.intersection(st_412)
if not intersectio_n:
    print('the intersection of two elements is empty')
else:
    print("the intersection of two elements is not empty")

the intersection of two elements is not empty

In [156]:
#42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set=set()
a,b=0,1
for _ in range(6):
    fibonacci_set.add(a)
    a,b=b,a+b
print('set of the first 5 fibonacci numbers:',fibonacci_set)

set of the first 5 fibonacci numbers: {0, 1, 2, 3, 5}

In [157]:
#43. Remove duplicates from a list using sets.
l_43=[1,1,1,2,2,3,4,5,5,5]
s_43=set(l_43)
n_list=list(s_43)
print("list with duplicates is",l_43)
print("list without duplicates is",n_list)

list with duplicates is [1, 1, 1, 2, 2, 3, 4, 5, 5, 5]
list without duplicates is [1, 2, 3, 4, 5]

In [158]:
#44. Check if two sets have the same elements, regardless of their count.
def have_same_elements(st_44,st_441):
    sorted_list1=sorted(st_44)
    sorted_list2=sorted(st_441)
    return sorted_list1==sorted_list2
st_44={1,2,3,2,1}
st_441={3,1,2}
result=have_same_elements(st_44,st_441)
if result:
    print("the sets have the same elements")
else:
    print("the set donot have the same elements")

the sets have the same elements

In [159]:
#45. Create a set of the first n powers of 2
n=int(input("enter the number"))
st_45=set(2**i for i in range(1,n))
print(st_45)

enter the number7
{32, 64, 2, 4, 8, 16}

In [160]:
#46. Find the common elements between a set and a list.
st_46={1,2,3,4}
lst_46={1,2}
common_elements=st_46.intersection(lst_46)
print(set(common_elements))

{1, 2}

In [161]:
#47. Create a set of the first n triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = set()
    total = 0
    for i in range(1, n + 1):
        total += i
        triangular_numbers.add(total)
    return triangular_numbers
n = 10  
triangular_set = generate_triangular_numbers(n)
print("Set of the first", n, "triangular numbers:", triangular_set)

Set of the first 10 triangular numbers: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [162]:
#48. Check if a set contains another set as a subset.
st_48={1, 3, 36, 6, 10}
st_481={1, 2}
check=st_481.issubset(st_48)
if check==True:
    print("yes {} is subset of {}".format(st_481,st_48))
else:
    print("no {} is not subset of {}".format(st_481,st_48))

no {1, 2} is not subset of {1, 3, 36, 6, 10}

In [163]:
#49. Create a set of alternating 1s and 0s of length n.
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        alternating_set.add(i % 2)  
    return alternating_set
n = 20
alternating_set = create_alternating_set(n)
print("Set of alternating 1s and 0s of length", n, ":", alternating_set)

Set of alternating 1s and 0s of length 20 : {0, 1}

In [164]:
#50. Merge multiple sets into one.
st_50={1, 3, 36, 6, 10}
st_501={ 2,8,0,7}
st_502={21,22}
merged_set=st_50.union(st_501,st_502)
print("merged set:",merged_set)

merged set: {0, 1, 2, 3, 36, 6, 7, 8, 10, 21, 22}